body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body .github-fork-ribbon:before {
  background-color: #333;
}

@media screen and (max-width: 500px) {
  .github-fork-ribbon {
    display: none;
  }

.res-title{
  	font-size: 20px;
}

span{
	text-transform:capitalize;
}

output{
	margin:auto;
	margin-top:20px;
	padding:20px;
	width:40%;
	border: 1px solid grey;
}

@media only screen and (max-width:900px){
	.output{
		width: 100%;
	}
}
}
